<launch>
  <include file="$(find jeep_2dnav)/launch/rplidar.launch" />

  <include file="$(find mowpi_comm)/launch/mowpi_filter_scan.launch" />

  <node pkg="mowpi_comm" type="yaw_kf.py" name="yaw_kf" output="screen"/>
  <node pkg="mowpi_comm" type="mowpi_ros_comm.py" name="mowpi_comm" output="screen"/>
  <node pkg="nxp_imu" type="read_nxp.py" name="read_nxp" />
  
</launch>
